#header {
    position: absolute;
    width: 294px;
    height: 683px;
  }
  #header .pro-sidebar {
    height: 100%;
    margin-left: -48px;
    /* transform: translate(-64px, 0px); */
  }
  #header .closemenu {
    color: #000;
    position: absolute;
    right: 0;
    z-index: 9999;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    top: 55px;
    cursor: pointer;
  }
  #header .pro-sidebar {
    width: 100%;
    min-width: 100%;
  }
  #header .pro-sidebar.collapsed {
    width: 80px;
    min-width: 80px;
  }
  
  #header .pro-sidebar-inner {
    background-image: linear-gradient(66.62deg, #1F0322 25.85%, #581B7A 60.94%);
    /* box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15); */
    border: 1px solid;
    border-image-source: linear-gradient(91.71deg, rgba(121, 66, 251, 0) 7.98%, #743FB6  37.88%);
    border-radius: 24px;
    transform: skew(-3deg);
  }
  #header .pro-sidebar-inner .pro-sidebar-layout {
    overflow-y: hidden;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
    font-size: 20px;
    padding: 0 20px;
    color: #000;
    font-weight: bold;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul {
    padding: 0 5px;
    transform: skew(3deg);
    padding-left: 72px;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: white;
    margin: 10px 0px;
    font-weight: bold;
    padding-bottom: 24px;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
    background-color: #fbf4cd;
    color: #000;
    border-radius: 3px;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
    color: white;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout .active {
    /* background-image: linear-gradient(0deg, #fece00 0%, #ffe172 100%); */
  }
  #header .logo {
    padding: 20px;
  }
  
  @media only screen and (max-width: 720px) {
    html {
      overflow: hidden;
    }
  }